.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

body {
    background-color: rgb(38, 38, 38);
}

.navbar-nav {
    display: flex;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 5px;
}

nav {
    background-color: black;
}

#ct {
    display: flex;
    background-color: rgb(192, 192, 192);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

.avatar-img {
    border-radius: 20px;
    padding-bottom: 0px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.avatar-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

header {
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(193, 238, 223);
}

.hi-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    font-family: cursive;
}

.about {
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.about h1 {
    font-size: 28px;
    color: aquamarine;
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    color: #d5f0dc;
}

.interests-container {
    text-align: center;
    margin: 50px 0;
    color: #ccc;

}

.interests-title {
    font-style: italic;
    font-size: 1.5em;
    color: #ddd;

}

.interests-description {
    font-size: 1em;
    color: #888;

    margin-bottom: 30px;
}

.interest-card {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease;
}

.interest-card:hover {
    transform: scale(1.05);
}

.progress-bar {
    width: 100%;
    background-color: #555;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress {
    height: 30px;
    text-align: center;
    color: rgb(12, 12, 12);
    font-weight: bold;
    line-height: 30px;
    transition: width 0.4s ease;
    border-radius: 10px;
}

.cpp {
    background-color: aquamarine;
}

.java {
    background-color: aquamarine;
}

.python {
    background-color: aquamarine;
}

.html {
    background-color: aquamarine;
}

.css {
    background-color: aquamarine;
}

.javascript {
    background-color: aquamarine;
}


.progress-bar .progress {
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


.progress-bar:hover .progress {
    opacity: 0.8;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}


section#contact {
    padding: 60px 0;
}

.text-white {
    color: #fff !important;
}

.text-muted {
    color: #aaa !important;
}

.social-icons a {
    margin: 0 20px;
}

.container {
    max-width: 800px;
}